<h2>New Review for <%= @restaurant.name.capitalize %></h2>
<br>

<%= simple_form_for [@restaurant, @review] do |f| %>
   <%= f.input :content %>
   <%= f.input :rating %>
   <%= f.submit class: "btn btn-default btn-xs" %>
<% end %>

<br>
<%= link_to "< Back", @restaurant %>
